<div class="comment">

    <strong>Commenter:</strong>
    <%= comment.commenter %>&nbsp;&nbsp;&nbsp;&nbsp;

      <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>

      <%= time_ago_in_words(comment.created_at) %>

  <div class="comment-content">
    <%= simple_format(comment.body) %>
  </div>
  <% if admin_user? %>
    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
    <%= link_to 'Destroy Comment', [comment.article, comment],
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
  <% end %>
</div>
<br>
