<h2>
  Listing articles 
  <% if @user %>
    of <%= link_to @user.name, @user %>
  <% end %>
 (<%= @articles.count %>)
</h2>


  <% @articles.each do |article| %>
    <%= render article %>
  <% end %>


<!--  <%= render @articles %> -->



