<div class="row">
  <div class="col-md-11 col-md-offset-1">

    <h1 class="center"><strong><%= link_to blog_name, controller: 'articles' %></strong></h1>

    <h2 class="center"><strong>About</strong></h2>

    <article>
      <div class="article-content">

      <p></p>
        <blockquote>Ein blog sie zu finden, sie alle zu knechten, auf ewig zu binden..</blockquote><p></p>
        <p>Hier geht es viel um die Verarbeitung von schweren Depressionen. Dem ganzen eine Art poetischen Ausdruck zu verleihen. Und auch um den verheerenden Zustand dieser Welt, der die Depression immer wieder füttert.</p>
        <p>Wer selbst gefährdet ist von seinen negativen Aspekten und Nihilismus überrollt zu werden, sollte diese Seite verlassen, jetzt!</p>
        <blockquote>To ignore my warning..  could be your falling.. the judgement is harsh..</blockquote>Wire - 154<br>
        <p>Inspiriert von einer Reihe von Experimenten eines gewissen Dr. Calhoun:</p>

        <p><a href="http://www.mostlyodd.com/death-by-utopia/">Lies hier!</a></p> 
        <p>Man kann sich natürlich fragen, ob die 'Schönlinge' in diesen Experimenten nicht die klassischen Depressiven unserer Zeit sind? Ist es das? Zerstört durch Überbevölkerung und Mangel an sozialen Rollen, die noch frei sind?</p>
        <p>Na ok, wir sind keine Mäuse, schwer zu sagen...</p>
        <p>Auch wenn diese Experimente schon extrem erschütternd sind, muss man doch im Auge behalten, dass Calhoun das nie als zwangsläufiges Verhängniss gesehen hat, sondern eher als Ansporn unsere Städte und Gesellschaften so einzurichten, das dieser 'Behavorial Sink' Effekt nicht eintritt.</p>
        <p> Ist er schon eingetreten? ...</p>
         
      </div>
    </article>

  </div>
</div>

