<div class="row">
  <div class="col-md-11 col-md-offset-1">

    <h1 class="center"><strong><%= link_to blog_name, controller: 'articles' %></strong></h1>

    <h2 class="center"><strong>About</strong></h2>
    </br>

    <article>
      <div class="article-content">

      <p></p>
        <blockquote>Ein blog sie zu finden, sie alle zu knechten, auf ewig zu binden..</blockquote><p></p>

        <p>Inspiriert von einer Reihe von Experimenten eines gewissen Dr. Calhoun:</p>

        <p><a href="http://www.mostlyodd.com/death-by-utopia/">Lies hier!</a></p>      
         
      </div>
    </article>

  </div>
</div>

