// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#comments {
  background-color: #151315;
  padding: 1px 15px 5px 20px;
  font-size: 96%;
  border-top: 1px solid #303030;
  color: #808080;
}

.comment {  
  margin-left: 25px;
}

#comment-content {
  box-sizing: padding-box;
  border-style: solid;
  border-width: thin;
  border-color:        #373737;
  background-color: #242424;
  margin: 3px 0px 5px 0px;
  padding: 0px 5px 0px 5px;
}

#comments h4 {
  color: #E68A00;
}

#comments a {
  color: #E68A00;
}

